---
import Avatar from '@components/ui/avatars/Avatar.astro';
import FullStar from '@components/ui/stars/FullStar.astro';
import HalfStar from '@components/ui/stars/HalfStar.astro';

const { avatars, starCount = 0, rating, reviews } = Astro.props;

interface Props {
  avatars?: Array<string>;
  starCount?: number;
  rating?: string;
  reviews?: string;
}
---

<div>
  <div class="flex flex-col sm:flex-row sm:items-center">
    <div class="shrink-0 pb-2 sm:flex sm:pe-4 sm:pb-0">
      {/* Avatar Group */}
      <div class="flex items-center -space-x-3">
        {avatars?.map(src => <Avatar src={src} alt="Avatar Description" />)}
        <span
          class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-zinc-800 dark:bg-zinc-900"
        >
          <span class="text-[10px] leading-none font-bold text-white uppercase"
            >7k+</span
          >
        </span>
      </div>
    </div>

    <div
      class="hidden h-8 w-px border-s border-neutral-400 sm:block dark:border-neutral-500"
    >
    </div>

    {/* Review Ratings */}
    <div class="flex flex-col items-start sm:ps-4">
      <div class="flex items-center space-x-1.5">
        <div class="flex space-x-0.5">
          {
            Array(starCount)
              .fill(0)
              .map((_, i) => <FullStar key={i} />)
          }
        </div>
        <p class="text-xs font-bold text-neutral-800 dark:text-neutral-200">
          <Fragment set:html={rating} />
        </p>
      </div>
      <div class="text-[10px] text-neutral-600 dark:text-neutral-400">
        <p>
          <Fragment set:html={reviews} />
        </p>
      </div>
    </div>
  </div>
</div>
